html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: scroll;
	overflow-x: scroll;
}
noscript h1 {
	text-align: center;
}
header {
	position: fixed;
	top:0;
	width: 100%;
	height: 40px;
	background-color: #f6f6f5;
	border-bottom: 1px solid #e2e2e0;
}
#title {
	margin-left:25%;
	font-size:2em;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
#new, #upload, #download, #filename {
	float:left;
}
#filename {
	margin: 12px 7px;
	display: block;
}
#github, #about {
	float:right;
}
#new, #upload, #download, #github, #about {
	margin: 7px;
}
#advanced-import-options-wrapper{
	display:none;
}
legend:hover{
	color:#0000FF;
	cursor: pointer;
}
#content {
	display: none;
	min-width: 100%;
	min-height: 100%;
	margin-top: 41px;
}
table {
	border-collapse: collapse;
}
th {
	background: #f2f5f6;
	background: -moz-linear-gradient(top,  #f2f5f6 31%, #e3eaed 62%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#f2f5f6), color-stop(62%,#e3eaed));
	background: -webkit-linear-gradient(top,  #f2f5f6 31%,#e3eaed 62%);
	background: -o-linear-gradient(top,  #f2f5f6 31%,#e3eaed 62%);
	background: -ms-linear-gradient(top,  #f2f5f6 31%,#e3eaed 62%);
	background: linear-gradient(to bottom,  #f2f5f6 31%,#e3eaed 62%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#e3eaed',GradientType=0 );
}
th, td {
	border: 1px solid black;
	padding: 0;
	min-width: 53px;
	width:54px;
}
.selected {
	background: #ffff77;
}
td {
	background: none;
}
td input, select {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	border-radius: 0;
}
a {
	text-decoration: none
}
.ui-widget {
	font-size: .8em;
	/*padding: 4px;*/
}
.ui-front {
	z-index: 1000000;
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	text-align: center;
	background-color: #f6f6f5;
	border-top: 1px solid #e2e2e0;
}
footer a {
	color: #000000;
}
footer a:hover {
	color: #0000FF;
}
#newcontent, #uploadcontent, #aboutcontent {
	display: none;
}
